* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
}

button {
  padding: 1rem 0;
  width: 120px;
  cursor: pointer;
}
.loginButtons {
  display: inline;
  float: right;
}

.not-authenticated{
    display: inline;
    float: left;
    width: 50%;
}

h2{
    margin: 1rem;
}